:root{
    --background: #191D88;
    --text-color: #FFC436;
}

.header{
    background-color: #fff;
    font-family: Poppins,sans-serif;
}

.menu-color{
    color: var(--background);
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;   
}
.menu-color:hover{
    color: #FFC436 !important;
}
.header img{
    width: 110px;
    height: 40px;
}



.hero-container{
    background-color: var(--background);
    width: 100%;
    text-align: center;
}
.hero-text h1 span{
color: #fff;
font-size: 50px;

}
.hero-text p{
    color: var(--text-color);
    font-size: 25px;
    align-items: center;
}
.hero-button{
    background-color: #FFC436;
    border-radius: 25px;
    border-width: 3px;
    border-color: #edece9;
    
    height: 70px;
    margin-top: 10px;
    margin-left: 250px;
    width: 220px;
       
}

.hero-button:hover{
    color: #fff !important;
}
.btn{
    color: #191D88;
    font-size: 25px;
    font-weight: 700;
   text-align: center;
   margin-left: 25px;
   padding: auto;
}

.dd h2{
    color: #191D88;
}
.dd{
    color: #191D88;
}
.hh{
    color: #FFC436;
    background-color: #191D88;
    margin-bottom: 50px;
}

.card-text{
    font-size: 20px;
    font-weight: 600;
}
.btn{
    border: 2px solid #FFC436;
}
.btn:hover{
    background-color: #191D88;
}

.bg-light{
    background-color: #191D88 !important;
    margin-top: 40px;
}

.d-lg-block{
    color: #fff;
}

.ff{
    color: #FFC436;
}



.Carousel img{
    margin: 40px;
}

.head h2{
    color: #FFC436;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}
.cc{
    color:#fff;
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 70px;
    
}

.cc:hover{
    box-shadow: 10px 10px 10px #FFC436;
}





.contact{
    margin-left: 30px;
}

.contact h2{
    color:#191D88;
}
.contact p{
    font-weight: 600;
}
.contact label{
    font-size: 20px;
    font-weight: 500;
}
.contact input{
    border: 1px solid ;
  border-radius: 4px;
}
.contact textarea{
    border: 1px solid ;
  border-radius: 4px;
}

.contact a{
    background-color: #FFC436;
}






.ll {
    max-width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    padding-inline: 2%;
    padding-block: 2%;
    border-radius: 8px;
    box-shadow: 100 40px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(161, 123, 123, 0.767);
    /* background-color: #365486; /* Blue theme */
    background:  #191D88;
    color: white;
    text-align: center;

  }

  .h {
    color: white;
    background-color: #191D88;
    font-size: 35px;
    background: transparent;
    margin-top: 0%;
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .l {
    display: block;
    margin: 5px 0 5px;
    background: transparent;
    color: white;
    text-align: left;
    font-size: 20px;
  }

  .i{
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.767);
  }
  .buttonb{
    background-color: #fcdf03; /* Green button */
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    align-self: center;
    font-size: large;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight:bolder;
}

.here{
        font-size: 20px;
        background: transparent;
        color: #ffffff;
        padding: 3%;
}

#dropdown {
    background-color: white;
    /*color: #333;*/
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
  }

  .ipcolor {
    accent-color: gray;
  }

  .option {
    accent-color: gray;
  }

  .Dropdown::placeholder {
    color: #808080; /* Set your desired placeholder color */
  }
  .custom-dropdown {
    color: gray; 
  }










  .incident-report {
    color: #243052;
    border: 3px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 800px;
  }
  
  .incident-report h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
  }
  
  .incident-report label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .incident-report input,
  .incident-report select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
  }
  
  .incident-report textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 150px;
  }
  
  .incident-report button {
    background-color: #191D88;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40%;
  }
  
  .incident-report .employee-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
  }
  
  .incident-report .description-of-incident {
    margin-top: 20px;
  }
  
  .incident-report .incident-causes,
  .incident-report .follow-up-recommendations {
    margin-top: 10px;
   /* margin-right: 10px;*/
    padding-right: 35px;
  }
  
  .incident-report .additional-notes {
    margin-top: 10px;
    padding-right: 35px;
  }
  
  .incident-report .for-official-use-only {
    text-align: right;
    font-style: italic;
    color: #ccc;
    margin-top: 20px;
  }

  .incident-report .header {
    padding: 2px;
    margin-top: 3px;
    background-color: #191D88;
    color: azure;
    font-size: 30px;
    font-weight: 700;
  }
  
  .incident-report .btn {
    align-self: center;
  }




  .Acident-report {
    color: #191D88;
    border: 3px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 800px;
  }
  
  .Acident-report h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
  }
  
  .Acident-report label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .Acident-report input,
  .Acident-report select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
  }
  
  .Acident-report textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 150px;
  }
  
  .Acident-report button {
    background-color: #191D88;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40%;
  }
  
  .Acident-report .employee-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
  }
  
  .Acident-report .description-of-Acident {
    margin-top: 20px;
  }
  
  .Acident-report .Acident-causes,
  .Acident-report .follow-up-recommendations {
    margin-top: 10px;
   /* margin-right: 10px;*/
    padding-right: 35px;
  }
  
  .Acident-report .additional-notes {
    margin-top: 10px;
    padding-right: 35px;
  }
  
  .Acident-report .for-official-use-only {
    text-align: right;
    font-style: italic;
    color: #ccc;
    margin-top: 20px;
  }

  .animation{
    
    background-color: #191D88;
    
    /* Add AOS classes */
  opacity: 0; /* Initial opacity for fade-in animation */
  transition: opacity 2s ease; /* Transition property for fade-in animation */
  }

  .animation.aos-animate {
    opacity: 3; /* Final opacity for fade-in animation */
  }

  .animation card{
    height: 300px !important;
  }