:root{
    --background: #191D88;
    --text-color: #FFC436;
}

.header{
    background-color: #fff;
    font-family: Poppins,sans-serif;
}

.menu-color{
    color: var(--background);
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;   
}
.menu-color:hover{
    color: #FFC436 !important;
}
.header img{
    width: 110px;
    height: 40px;
}



.hero-container{
    background-color: var(--background);
    width: 100%;
    text-align: center;
}
.hero-text h1 span{
color: #fff;
font-size: 50px;

}
.hero-text p{
    color: var(--text-color);
    font-size: 25px;
    align-items: center;
}
.hero-button{
    background-color: #FFC436;
    border-radius: 25px;
    border-width: 3px;
    border-color: #edece9;
    
    height: 70px;
    margin-top: 10px;
    margin-left: 250px;
    width: 220px;
       
}

.hero-button:hover{
    color: #fff !important;
}
.btn{
    color: #191D88;
    font-size: 25px;
    font-weight: 700;
   text-align: center;
   margin-left: 25px;
   padding: auto;
}

.dd h2{
    color: #191D88;
}

.hh{
    color: #FFC436;
    background-color: #191D88;
    margin-bottom: 50px;
}

.card-text{
    font-size: 20px;
    font-weight: 600;
}
.btn{
    border: 2px solid #FFC436;
}
.btn:hover{
    background-color: #191D88;
}

.bg-light{
    background-color: #191D88 !important;
    margin-top: 40px;
}

.d-lg-block{
    color: #fff;
}

.ff{
    color: #FFC436;
}



.Carousel img{
    margin: 40px;
}

.head h2{
    color: #FFC436;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}
.cc{
    color:#fff;
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 70px;
    
}

.cc:hover{
    box-shadow: 10px 10px 10px #FFC436;
}